<!DOCTYPE html>
<html>
<head>
  <title>base</title>
</head>
<body>

    <h1>Welcome to model deployment</h1>


    <form action="prediction" method ="POST" enctype="multipart/form-data">
      <b> City : <input type="text", name="city", placeholder="enter 1"> <br><br>
        kms_driven : <input type="text", name="kms_driven", placeholder="entry 2"> <br><br>
        owner : <input type="text", name="owner", placeholder="entry 3"> <br><br>
        brand : <input type="text", name="brand", placeholder="entry 4"> <br><br>
        age : <input type="text", name="age" , placeholder="entry 5"> <br><br>
        power : <input type="text", name="power", placeholder="entry 6"> <br><br>
      <input type="submit" name="btn">
    </form>

</body>
</html>
